{{<ul class="todo-list">
<li class="todo-list-item">
<div class="todo-list-item-name">Some Text</div>
<a href="" class="edit">
<span class="fas fa-edit"></span>
</a>
<a href="" class="remove">
<span class="fas fa-times"></span>
</a>
</li>
</ul>}}